@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

strong{
	font-weight: normal;
	font-variant: small-caps;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

abbr.name{
	white-space: nowrap;
}

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	font-style: italic;
	margin: 0 auto 3em auto;
	text-align: center;
	text-indent: 0;
}

section > header > h2{
	margin-bottom: 1em; /* smaller bridgehead margins look better here */
}
