@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:diary"]{
	margin: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:diary-entry"] > p time{
	font-style: italic;
}

[epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}
